[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.10"

[packages]

[dev-packages]
rope = "*"
mypy = "*"
pylint = "*"
pytest = "*"
black = "==21.12b0"
